.tabela-cadastro {
    overflow: auto;
    border-radius: 5px;
    overflow: hidden;
}

.tabela-cadastro-recorte {
    font-size: 0.8rem;
    background: linear-gradient(45deg, black, transparent);
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding: 2rem;
    width: 90vw;
    overflow: auto;
}