.tabela-cadastro {
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    overflow: hidden;
}

.tabela-cadastro-recorte {
    font-size: 0.8rem;
    background: linear-gradient(45deg, black, transparent);
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding: 0 0.5rem;
    overflow: auto;
    height: 100%;
}