.tabela-cadastro {
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 90vw;
    height: 80vh;
    overflow: auto;
    border-radius: 3px;
}