.checklist-painel {
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--line);
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.tag-checklist {
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 15px 17px;
}

.USO-E-CONSUMO {
    background-color: #eef5f8;
    border-top: 4px solid #2d7da6;
}

.SERVIÇO {
    background-color: #edf7f1;
    border-top: 4px solid #158044;
}

.VENDA {
    background: #fff0ef;
    border-top: 4px solid #bd2b2b;
}
