.off {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 7em;
    border-radius: 3px;
    padding: 5px;
    border: solid 1px #ff0000;
    background-color: #ff00005c;
}

.on {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 7em;
    border-radius: 3px;
    padding: 5px;
    border: solid 1px #008000;
    background-color: #0080005c;
}

.zero {
    font-family: Arial, Helvetica, sans-serif;
    width: 7em;
    border-radius: 3px;
    padding: 5px;
    border: solid 1px #0069ff;
    background-color: #0069ff5c;
}

.qtd {
    text-align: center;
    width: 7em;
    border-radius: 3px;
    border: solid 1px #797979;
    padding: 5px;
    background-color: #e7e7e7;
}

.painel-registro-checklist {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 1rem;
    background-color: #d2d2d2;
}

.fonte-maior {
    font-size: 0.9rem;
}

.toolbar-checklist {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.toolbar-checklist .balao-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(85deg, #151749, #249f41);
    color: white;
}

.toolbar-checklist .balao-checklist input {
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.toolbar-checklist .balao-checklist span {
    font-size: 1.2rem;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.etiquetas-organizadas {
    width: max-content;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    gap: 3px;
}

.painel-adicionar-etiqueta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #d2d2d2;
    padding: 1rem;
}

.painel-adicionar-etiqueta input {
    border-radius: 3px;
    padding: 5px;
}

.painel-etiquetas {
    max-height: 60vh;
    max-width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 3px;
    background-color: #d2d2d2;
    padding: 1rem;
}

.graficos {
    padding: 1rem;
    background-color: white;
    border-radius: 3px;
}

.tag {
    border: solid 1px #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px 0 3px 0;
}

.tag span {
    text-align: left;
    margin: 0 1rem 0 1rem;
}

.tag img {
    margin-right: 0.5rem;
}

.tags-janela {
    width: 95%;
    background-color: #efefef;
    border: solid 1px #222;
    height: 100%;
    padding: 0.5rem;
    overflow-x: auto;
}

@media screen and (orientation: portrait) {

    .toolbar-checklist {
        flex-direction: column;
    }

}