.paginacao-clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.paginacao-clientes img {
    width: 2.5rem;
}

.paginacao-clientes span {
    box-shadow: 0 0 1px;
    padding: 0.5rem;
    background: #e1e1e1;
    border-radius: 5px;
}

.tela-clientes {
    width: 95vw;
}

.tag-cliente {
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #222 0%, rgba(0, 0, 0, 0.7) 85%);
    border: solid 1px #222;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px;
}