.paginacao-clientes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.paginacao-clientes span {
    background: white;
    border-radius: 20px;
}