.painel-custos-lateral {
    gap: 5px;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
}

.label-botao-custos {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 1rem;
    border-radius: 20px;
    border: solid 1px #a8a8ff;
    background-color: #0000ff26;
}

.painel-custos-tabelas {
    width: 100%;
}

.painel-custos {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    max-width: 70vw;
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
}

.bloco-categoria {
    text-align: left;
    box-shadow: 0 0 2px #222;
    width: 200px;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 5px;
    border-radius: 3px;
    background-color: #e9e9e9;
}

.bloco-categoria label {
    font-weight: bold;
}

.bloco-categoria span {
    font-size: 1.2rem;
}

.custos-inicial {
    display: flex;
    align-items: start;
    gap: 5rem;
    justify-content: start;
}

#grafico-categorias {
    padding: 1rem;
}

.grafico-box {
    display: none;
    width: 700px;
    height: 400px;
}

.grafico-box canvas {
    border-radius: 0 5px 5px 5px;
    background: linear-gradient(45deg, #ffffff, #ffffff82);
}

.etiqueta-custo {
    white-space: pre-wrap;
    text-align: start;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.toolbar-custo {
    text-align: left;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}