body,
html {
    background: linear-gradient(45deg, #249f41, #151749);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem;
}

.b-painel {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(255, 255, 255, 0.104);
    padding: 1rem 0 1rem 0;
}

.b-atalhos {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
}

hr {
    width: 100%;
}

img {
    width: 2rem;
    cursor: pointer;
}

.progresso {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.tela {
    margin-top: 7vh;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background: linear-gradient(to left, #e47a00 50%, #e5e5e5 0%);
}

.contador span {
    text-align: center;
    width: 3rem;
    color: white;
}

.contornoAnexos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    height: max-content;
    padding: 5px;
    margin: 5px;
}

.contornoAnexos img {
    width: 2rem;
}

.planoFundo {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    background-color: #0000005e;
    border-radius: 5px;
}

.contornoInterno {
    width: 100%;
    justify-content: start;
    gap: 2px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    background-color: #99999940;
}

.contornoInterno img {
    width: 2rem
}

.nomeUsuario {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nomeUsuario span {
    padding: 5px;
    width: 80%;
    background-color: #249f41;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.invalido {
    padding: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.mensagemTela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    padding: 2vw;
    border-radius: 3px;
}

.botoes {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 5px;
    gap: 1rem;
}

.botoesMenu {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    gap: 1px;
}

.loginBloco {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgb(0 0 0 / 30%);
}

.loginBloco input {
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #696969;
    background-color: #ebebeb;
}

.botaoSuperiorLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B12425;
    padding: 1vw;
    gap: 3vw;
}

.botaoSuperiorLogin span {
    color: white;
}

.botaoSuperiorLogin img {
    width: 10vw;
}

.baixoLogin {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 1rem;
}

.credenciais {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.cadeado {
    padding: 0.5rem;
    width: 15rem;
}

.overlay {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.olho {
    width: 2rem;
}

input,
textarea {
    display: block;
    padding: 1vw;
    margin: 1vw 0;
    border: none;
}

.painel-recuperacao {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    background-color: #d2d2d2;
}

.camp-1 {
    width: 10rem;
    border-radius: 5px;
    padding: 1rem;
    border: solid 1px #797979;
}

textarea {
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    padding: 7px;
    color: #f5f5f5;
    cursor: pointer;
    background-color: #249f41;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
}

.painel-cadastro {
    display: flex;
    min-width: 80vw;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    background-color: #d2d2d2;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
}

.painel-cadastro table {
    border-collapse: collapse;
    width: 100%;
}

.painel-cadastro td {
    background-color: white;
    border: solid 1px #676767;
    padding: 8px;
}

.rodape-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-login button {
    border-radius: 0px;
    width: 100%;
    padding: 1rem;
}

.painel-cadastro th {
    background-color: #676767;
    color: white;
    padding: 8px;
}

.rodapeAlerta {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.rodapeAlerta img {
    width: 3vw;
}

.camposTd {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.camposTd img {
    width: 7vw;
}

.megaInput {
    width: 25px;
    height: 25px;
}

.toolbarPopup {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 40px;
    /* área principal | botão (X) */
    align-items: center;
    width: 100%;
    min-height: 35px;
    color: white;
    background: #3b444c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #d2d2d2;
    overflow: hidden;
}

.toolbarPopup::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: #B12425;
    border-top-right-radius: 5px;
    z-index: 0;
}

.toolbarPopup>* {
    position: relative;
    z-index: 1;
}

.toolbarPopup .title {
    font-size: 1rem;
    justify-self: center;
}

.toolbarPopup .close {
    font-size: 1rem;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
}

.botaoPopup {
    background-color: #3b444c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 5vh;
    cursor: pointer;
}

.botaoPopup img {
    width: 5vw;
}

.botaoPopup label {
    cursor: pointer;
    color: white;
}

.blocoTabela {
    min-width: 20rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.recorteTabela {
    width: 100%;
    height: max-content;
    max-height: 65vh;
    overflow: auto;
}

.tabela {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.tabela thead input {
    width: 100%;
}

.tabela th {
    font-weight: lighter;
    border: solid 1px #d2d2d2;
    color: #222;
    padding: 8px;
}

.tabela td {
    text-align: left;
    padding: 8px;
    border: 1px solid #d2d2d2;
}

.tabela span {
    margin-left: 10px;
    text-align: left;
}

.tabela thead {
    position: sticky;
    top: 0;
    box-shadow: 0 1px 0 #ccc;
    background-color: #f1f1f1;
}

.btnLateral {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: #f3f3f3;
}

.btnLateral img {
    width: 2rem;
    margin-left: 10px
}

.menu-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.especial-chamados {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #222222ec;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    z-index: 200;
    overflow: auto;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.side-menu.active {
    left: 0;
}

.painelBotoes {
    border: solid 1px #ababab;
    min-height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #d9d9d9;
    gap: 2px;
    width: 100%;
}

.rodape-tabela {
    border: solid 1px #ababab;
    width: 100%;
    height: 2vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d9d9d9;
}

.btnRodape {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 90%;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    gap: 2vw;
}

.opcaoStatus {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

input[type="file"] {
    width: 70%;
}

.btnPadrao {
    width: 100%;
    background-color: #249f41;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color: white;
}

.aguarde {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10005;
}

.aguarde img {
    width: 35vw;
}

.mensagem {
    background-color: #d2d2d2;
    display: flex;
    gap: 10px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.mensagem img {
    width: 2rem;
}

.pesquisa {
    border: solid 1px #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding-left: 2rem;
    margin: 0.5rem;
    min-width: 100px;
}

.pesquisa img {
    width: 2rem;
}

.pesquisa input {
    border: none;
    background-color: transparent;
}

.barra {
    width: 15vw;
    flex: 1;
    background: #eee;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.btnAcmp {
    border-radius: 5px;
    padding: 3px;
    background-color: #dbdbdb;
}

.cameraDiv {
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
}

.cameraDiv video {
    width: 100%;
}

.msg-queda-conexao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #d2d2d2;
}

.fotos {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 5px;
    align-items: start;
    gap: 2px;
    background-color: #dddddd;
    border-radius: 3px;
}

.fotos img {
    width: 5rem;
}

.capturar {
    cursor: pointer;
    border-radius: 3px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.aviso {
    background-color: #d2d2d2;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.bloco {
    border: solid 1px #c9c9c9;
    border-radius: 2px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.bloco label {
    color: #222;
    white-space: nowrap;
}

.bloco span {
    color: #fd6828;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes img {
    width: 2rem;
}

.tela-interna {
    max-width: 95vw;
    padding: 0.5rem;
}

.camposCadastro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
    background-color: #d2d2d2;
    padding: 5vw;
}

.botoes-flutuantes {
    border-radius: 5px;
    background-color: #222222de;
    z-index: 2222;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem;
}

.toolbar-top {
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #222222ec;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 333;
}

.toolbar-top span {
    color: white;
}

.botaoImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    padding: 3px;
    border-radius: 5px;
}

.botaoImg img {
    width: 1.5rem;
}

.menu-btn {
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-btn div {
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px 0;
    transition: 0.4s;
}

.atualizar {
    margin-right: 1vw;
    width: 2.5rem;
}

.painel-superior-cadastros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
}

.notificacao {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #333;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.circular-loader {
    position: relative;
    width: 120px;
    height: 120px;
}

.circular-loader svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.circular-loader circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.circular-loader .bg {
    stroke: #333;
}

.circular-loader .progress {
    stroke: #4caf50;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 0.3s linear;
}

.circular-loader .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.div-atualizar {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1vw;
    background-color: #249f41;
}

.div-atualizar img {
    width: 10vw;
}

.pill {
    cursor: pointer;
    display: grid;
    grid-template-columns: 35% 1fr;
    align-items: stretch;
    border-radius: 999px;
    overflow: hidden;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.2;
    width: 95%;
    margin-left: 5px;
}

.pill>span {
    padding: .35rem .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
}

/* Parte esquerda */
.pill-a {
    color: #fff;
}

/* Parte direita */
.pill-b {
    background: #e0e0e0;
    color: #333;
}

#contador {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 2.2em;
    height: 2.2em;
    padding: 0 .5em;

    border-radius: 999px;
    background: #004cff;
    color: #fff;

    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    font-size: 1.3rem;
    width: 90%;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .b-painel {
        gap: 0;
        flex-direction: row;
    }

    .b-atalhos {
        width: 50%;
    }

    .painel-cadastro {
        min-width: 40vw;
    }

    .rodape-login button {
        padding: 1vw;
    }

    .tabTarefas table {
        width: -webkit-fill-available;
        table-layout: fixed;
        border-collapse: collapse;
        display: table;
    }

    .painel-1-tarefas {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 2vw;
    }

    input {
        padding: 0.2rem;
        margin: 0.2rem 0;
    }

    .baixoLogin {
        flex-direction: row;
    }

    .btnRodape {
        width: auto;
        right: 3vw;
        bottom: 3vh;
    }

    .btnExcel {
        gap: 10vw;
        display: flex;
    }

    .recorteTabela {
        max-height: 70vh;
    }

    .aguarde img {
        width: 10vw;
    }

    .camposCadastro {
        padding: 2vw;
    }

    .contornoInterno img {
        width: 2vw
    }

    .botoes {
        align-items: center;
        flex-direction: row;
    }

    .painelPin {
        flex-direction: row;
    }

    .camposTd img {
        width: 3vw;
    }

}