.painel-padrao {
    background: linear-gradient(45deg, #249f41, #151749);
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 60vh;
    max-width: 900px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 10px;
    border: solid 1px #797979;
}

.painel-padrao input, textarea, select {
    border: solid 1px #797979;
    background-color: #e6e6e6;
    padding: 3px;
    border-radius: 3px;
}

.linha-padrao {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #444;
    padding: 6px 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.linha-clientes input,
.linha-clientes select,
.linha-clientes textarea {
    width: 95%;
    cursor: pointer;
    background-color: #e1e1e1;
    border-radius: 3px;
    padding: 5px;
    border: solid 1px #bbbbbb;
}

.rodape-padrao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #868686ff;
    width: 100%;
    gap: 1px;
    border-top: solid 1px #868686ff;
}

.botoes-rodape {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botoes-rodape img {
    width: 2rem;
}

.botoes-rodape:hover {
    transition: ease-in-out 0.1s;
    background-color: #097fe6;
    color: white;
}
