.tela-gerenciamento {
    max-width: 90vw;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.ind {
    width: max-content;
    border: solid 1px #989898;
    background: #efefef;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.etiqueta-atrasado {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #ff0000;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.etiqueta-pendente {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #41a6ff;
    border-radius: 5px;
    background-color: #b9dbf9;
}

.etiqueta-ok {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #008000;
    border-radius: 5px;
    background-color: #00800047;
}

.comentario-padrao {
    text-align: left;
    overflow: auto;
    resize: vertical;
    min-height: 80px;
    min-height: 100px;
    width: 300px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #797979;
    border-radius: 1px;
    background-color: #efefef;
}

.bloco-acoes {
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #797979;
    background-color: #efefef;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    resize: vertical;
    width: 300px;
    height: 100px;
    overflow: auto;
}

.acoes {
    overflow-y: auto;
    resize: vertical;
    width: 90%;
    height: 300px;
    overflow-y: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #efefef;
    border: solid 1px #989898;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 2px;
}

.fundo-mapa {
    position: relative;
    width: 600px;
    height: 600px;
    background: linear-gradient(235deg, #249f41, #151749);
    border-radius: 5px;
    border: solid 1px #797979;
}

.mapa {
    filter: drop-shadow(1px 1px 3px #222);
    width: 600px;
}

.tabela-indicadores {
    position: relative;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border: solid 1px #797979;
    background-color: rgba(255, 255, 255, 0.878);
    border-radius: 5px;
    max-height: 80vh;
    width: 90vw;
    overflow: auto;
}

.painel-indicadores {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 2rem;
}

.tabelas-pda {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-width: 90vw;
}

.toolbar-mapas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}