.tela-gerenciamento {
    width: 90vw;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.ind {
    width: 150px;
    background: #efefef;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}

.tabela-Indicadores {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border: solid 1px #797979;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    height: 70vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.etiqueta-atrasado {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #ff0000;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.etiqueta-pendente {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #41a6ff;
    border-radius: 5px;
    background-color: #b9dbf9;
}

.etiqueta-ok {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #008000;
    border-radius: 5px;
    background-color: #00800047;
}

.comentario-padrao {
    text-align: left;
    overflow: auto;
    resize: vertical;
    max-width: 200px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 0.5rem;
    border: solid 1px #797979;
    border-radius: 5px;
    background-color: #efefef;
}

.bloco-acoes {
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #797979;
    background-color: #efefef;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    resize: vertical;
    width: 300px;
    height: 100px;
    overflow: auto;
}