.img-logo-td {
    width: 50vw;
}

.tela-ocorrencias {
    width: 95vw;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.titul-1 {
    margin-left: 1rem;
    color: white;
    font-size: 1.1rem;
}

.balao-correcao {
    width: 95%;
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.7;
}

.balao-correcao:hover{
    transition: 0.2s ease-in-out;
    opacity: 1;
}

.topo-ocorrencias {
    gap: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 0.5rem;
    width: 95vw;
    overflow-x: auto;
}

.rodape-formulario {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #3b444c;
    gap: 0.5rem;
}

.rodape-formulario button {
    padding: 0.5rem;
}

.itemFiltro {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 100%;
}

.itemFiltro span {
    color: white;
}

.itemFiltro img {
    width: 5vw;
}

.botao-reagendar {
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: solid 1px #222;
    background-color: #22222231;
}

.filtros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

.filtros select {
    width: 150px;
    border: solid 1px #afafaf;
    padding: 5px;
    border-radius: 50px;
}

.atalhosRelatorio {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    gap: 15px;
}

.atalhosRelatorio input {
    width: 25px;
    height: 25px;
}

.blocoFiltro {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    color: #222;
    background-color: #e6e6e6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.blocoFiltro div label {
    border-radius: 2px;
    background-color: #383838;
    padding: 3px;
}

.blocoFiltro div {
    gap: 1px;
    border: 1px solid #c3c3c3;
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: 20vh;
    height: max-content;
}

.cabecalho-pesquisa {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #b1b1b1;
    gap: 1vw;
    padding: 1vw;
}

.negativo {
    background-color: #b12425;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.totalBox {
    min-height: -webkit-fill-available;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    color: white;
    text-align: center;
}

.tabelaRelatorio {
    height: max-content;
    max-height: 40vh;
    width: 100%;
    overflow: auto;
}

.tabelaRelatorio img {
    padding: 2vw;
    width: 10vw;
}

.balaoOcorrencias {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

.balaoSolicitante {
    justify-content: center;
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #222;
    border-right: 1px solid #444;
}

.balaoExecutor {
    justify-content: center;
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #222222c8;
}

.tabela1 {
    border: solid 1px #d2d2d2;
    width: 100%;
    height: max-content;
    max-height: 75vh;
    overflow: auto;
}

.tabela1 table {
    width: max-content;
    border-collapse: collapse;
    color: #222;
}

.tabela1 td {
    width: 100vw;
    border: solid 1px #222;
    text-align: center;
}

.fechar {
    cursor: pointer;
    color: #444444;
    float: right;
    font-size: 10vw;
    font-weight: bold;
}

.fechar:hover {
    color: red;
}

.campos {
    border: solid 1px #249f41;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: #249f41a1;
    border-radius: 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.gavetaOpcoes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1px;
    background-color: #797979;
    width: 100%;
    max-height: 40vh;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

.sem-resultados {
    background-color: #f3f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.sem-resultados img {
    width: 5rem;
}

.paginacao-ocorrencias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.paginacao-ocorrencias img {
    width: 2rem;
}

.telaInferior {
    width: 100%;
}

.painel-superior-cadastros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    justify-content: start;
}

.detalhamento-correcoes {
    resize: vertical;
    width: 90%;
    overflow: auto;
    height: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #797979;
    background-color: #cbcbcb;
    padding: 0.5rem;
}

.div-linha {
    padding: 1rem;
    border: 1px solid #949494;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.linha-parte-1 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.linha-parte-2 {
    width: 100;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.tabela-correcoes {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90vw;
}

.detalhes-correcoes-1 {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    border-bottom: solid 1px #797979;
}

.detalhes-correcoes-1:last-child {
    border-bottom: none;
}

.etiqueta-chamado {
    width: max-content;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    display: flex;
    padding: 3px;
    border: solid 1px #ff0000;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.bloco-linha {
    gap: 2px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.fotos {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 5px;
    align-items: start;
    gap: 2px;
    background-color: #dddddd;
    border-radius: 3px;
}

.fotos img {
    width: 5rem;
}

.capturar {
    cursor: pointer;
    border-radius: 3px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.painel-pendencias {
    width: 100%;
    gap: 2px;
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.agendamentos {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
}

.agendamentos img {
    width: 1.5rem;
}

.agendamentos span {
    text-decoration-line: line-through;
    text-decoration-color: #0000003d;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {


    .topo-ocorrencias {
        flex-direction: row;
    }

    .filtros {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        gap: 0.5rem;
    }

    .bloco-linha {
        width: 100%;
    }

    .tela-ocorrencias {
        min-width: 70vw;
    }

    .tabela-correcoes {
        width: 50vw;
    }

    .linha-parte-1 {
        width: 50%;
    }

    .linha-parte-2 {
        width: 50%;
    }

    .div-linha {
        flex-direction: row;
    }

    .painel-superior-cadastros {
        display: flex;
    }

    .tabelaRelatorio img {
        padding: 1vw;
        width: 3vw;
    }

    .tabela1 table {
        width: 100%;
    }

    .tabela1 td {
        width: 40vw;
    }

    .totalBox label {
        font-size: 2vw;
    }

    .itemFiltro img {
        width: 2vw;
    }

    .img-logo-td {
        width: 20vw;
    }
}