.celula span {
    text-align: left;
}

.tabela-orcamentos,
.tabela-slaves {
    width: 100%;
    border-collapse: collapse;
}

.tabela-slaves {
    background: #f4f4f4;
}

.linha-slaves td {
    padding: 0;
}

.p-orcamento {
    border: solid 1px #898989;
    padding: 5px 0 5px 0;
    background-color: white;
    text-align: center;
    min-height: 18px;
    outline: none;
}

.th-wrap {
    margin-top: 5px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 4px;
}

.formato_status {
    cursor: pointer;
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.orcamento-chamado {
    cursor: pointer;
    opacity: 0.5;
    border-radius: 3px;
    padding: 3px;
    background-color: #00a62f;
    color: white;
}

.label-orcamento {
    cursor: pointer;
    border-radius: 3px;
    background-color: #00a62f;
    color: white;
    padding: 3px;
}

.orcamento {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.menu-superior {
    padding: 1rem 0px 1rem 0;
    background-color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagamentos {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.datas-pda {
    padding: 5px;
    border-radius: 3px;
}

.painel-custos {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #d2d2d2;
    padding: 2rem;
}

.opcoes-orcamento {
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quantidade_requisicao {
    cursor: pointer;
    height: 20px;
    background-color: #c8fcc4;
    border-radius: 5px;
    color: #151749;
    font-weight: bold;
    box-shadow: 1px 1px #151749;
    text-align: center;
}

#orcamentos {
    width: 90vw;
}

.label_etiquetas {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    word-wrap: break-word;
}

.campo-verde {
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 300px;
    background-color: #4CAF507c;
    border-radius: 3px;
    margin: 5px;
}

.baloes-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

#toolbar {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    gap: 5px;
    position: relative;
}

#toolbar .aba-toolbar {
    flex: 0 0 auto;
    /* impede de encolher */
    cursor: pointer;
    padding: 3px 8px;
    background: #b1b1b1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    white-space: nowrap;
}

#toolbar label {
    cursor: pointer;
}

.aba-toolbar {
    background-color: #b1b1b1;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aba-toolbar span {
    font-size: 1rem;
    background: linear-gradient(45deg, #151749, #249f41);
    text-align: center;
    color: #d2d2d2;
    border-radius: 3px;
    padding: 5px;
    min-width: 5rem;
    width: 90%;
}

.num {
    font-size: 1.0vw;
    background-color: #d2d2d2;
    padding: 5px;
    border-radius: 3px;
}

.form-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-checklist input {
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.calendarios {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.modelo-relatorio {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 3px;
}

.modelo-relatorio input {
    border-radius: 3px;
    padding: 5px;
}

.toolbar-relatorio {
    margin-left: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.toolbar-relatorio span {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #151749;
    color: white;
}

.relatorio {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.tabela-PDA {
    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.filtros-orcamentos {
    gap: 1rem;
    background-color: white;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.etiqueta-revisao {
    cursor: pointer;
    color: white;
    border-radius: 3px;
    border: solid 1px #ff0000;
    background-color: #ff0000b0;
    padding: 0 3px 0 3px;
}

.comentario-orcamento {
    min-width: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: max-content;
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    gap: 2px;
    background-color: #d2d2d2;
    padding: 1rem;
}