.linha-orcamento-tabela {
    display: grid;
    grid-template-columns:
        /* Data */
        1fr
        /* Status */
        1fr
        /* Pedido */
        1fr
        /* Notas */
        1fr
        /* Etiquetas */
        1fr
        /* Chamado */
        1.5fr
        /* Cidade */
        1fr
        /* Analista & Resp*/
        1fr
        /* Checklist */
        1fr
        /* Valor */
        1fr
        /* Ações */
        0.5fr;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #b3b3b3;
    width: 100%;
    font-size: 0.7rem;
}

.celula {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-right: 1px solid #b3b3b3;
    padding: 4px;
}

.celula select {
    font-size: 0.7rem;
}

/* remove a borda da última célula pra não duplicar */
.celula:last-child {
    border-right: none;
}

.linha-slaves {
    width: 100%;
}

.ths-orcamento input {
    padding: 5px 0 5px 0;
    width: 100%;
}

.ths-orcamento {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    text-align: left;
}

.ths-orcamento img {
    width: 1rem;
}

.linha-master {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 2px #222;
}

.formato_status {
    cursor: pointer;
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.orcamento-chamado {
    cursor: pointer;
    opacity: 0.5;
    border-radius: 3px;
    padding: 3px;
    background-color: #00a62f;
    color: white;
}

.label-orcamento {
    cursor: pointer;
    border-radius: 3px;
    background-color: #00a62f;
    color: white;
    padding: 3px;
}

.orcamento {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.menu-superior {
    padding: 1rem 0px 1rem 0;
    background-color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagamentos {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.datas-pda {
    padding: 5px;
    border-radius: 3px;
}

.painel-custos {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #d2d2d2;
    padding: 2rem;
}

.opcoes-orcamento {
    gap: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quantidade_requisicao {
    cursor: pointer;
    height: 20px;
    background-color: #c8fcc4;
    border-radius: 5px;
    color: #151749;
    font-weight: bold;
    box-shadow: 1px 1px #151749;
    text-align: center;
}

#orcamentos {
    width: 90vw;
}

.label_etiquetas {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    word-wrap: break-word;
}

.campo-verde {
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 300px;
    background-color: #4CAF507c;
    border-radius: 3px;
    margin: 5px;
}

.baloes-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
}

#toolbar {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    gap: 5px;
    position: relative;
}

#toolbar .aba-toolbar {
    flex: 0 0 auto;
    /* impede de encolher */
    cursor: pointer;
    padding: 3px 8px;
    background: #b1b1b1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    white-space: nowrap;
}

#toolbar label {
    cursor: pointer;
}

.aba-toolbar {
    background-color: #b1b1b1;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aba-toolbar span {
    font-size: 0.9rem;
    background-color: #222;
    text-align: center;
    color: #d2d2d2;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}

.num {
    font-size: 1.0vw;
    background-color: #d2d2d2;
    padding: 5px;
    border-radius: 3px;
}

.form-checklist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-checklist input {
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.calendarios {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0.5rem;
}

.modelo-relatorio {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 3px;
}

.modelo-relatorio input {
    border-radius: 3px;
    padding: 5px;
}

.toolbar-relatorio {
    margin-left: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.toolbar-relatorio span {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #151749;
    color: white;
}

.relatorio {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}