.tituloOS {
    border: solid 1px #222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    background-color: #d2d2d2;
}

.botoesSuperior {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    position: fixed;
    top: 10;
    left: 10;
}

.blc {
    margin: 3px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 1px #222;
}

.esquerdo {
    cursor: pointer;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.direito {
    cursor: pointer;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: red;
    color: white;
}

.campos-os {
    width: 100%;
    background-color: #dedede;
    padding: 5px;
    border-radius: 3px;
}