.formulario-pagamento {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    background-color: #d2d2d2;
    padding: 2vw;
    min-width: 30rem;
    max-height: 60vh;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#dataPagamento {
    border-radius: 3px;
    padding: 3px;
}

.numero {
    color: white;
    font-size: 1rem;
    flex: 0 0 10%;
}

.divPagamentos {
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 95vw;
    gap: 1rem;
}

.tela-detalhes {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #d2d2d2;
    max-width: 95vw;
    overflow-x: hidden;
}

.camposFinanceiro {
    padding-left: 1vw;
    width: 100%;
    justify-content: space-between;
    gap: 1vw;
    display: flex;
    align-items: center;
    flex: 0 0 90%;
    font-size: 0.7rem;
}

.camposFinanceiro label {
    text-align: left;
    margin: 5px;
    border: none;
}

.camposFinanceiro textarea,
.camposFinanceiro input,
.camposFinanceiro select {
    margin: 3px;
    background-color: #d3d3d3;
    font-size: 0.7rem;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.detalhes-pagamento {
    width: 60vw;
    max-height: 60vh;
    padding: 1rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
}

.rodape-detalhes {
    height: 1vh;
}

.vitrificado {
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    text-align: left;
    background-color: #ffffffde;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.balao {
    padding: 5px;
    display: flex;
    color: wheat;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.balao textarea {
    width: 90%;
    border-radius: 3px;
}

.contagem {
    cursor: pointer;
    text-align: center;
    width: 3vw;
    border-radius: 3px;
    padding: 5px;
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contorno {
    position: relative;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contornoBotaoLiberacao {
    background-color: #b7b7b7;
    border-top: 1px solid #8d8d8d;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.7rem;
}

.contornoBotaoLiberacao img {
    width: 3vw;
    cursor: pointer;
}

.selectStatus {
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

.btnDetalhes {
    text-align: left;
    min-height: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    background-color: #eeeeee;
    cursor: pointer;
}

.btnDetalhes label {
    padding: 10px;
}

.btnDetalhes:hover {
    background-color: #222;
    color: white;
}

.btnDetalhes img {
    margin-left: 1rem;
}

.divTabela {
    width: 100%;
    height: max-content;
    max-height: 60vh;
    overflow-y: auto;
}

.painelEsquerdo {
    min-width: 20%;
    width: max-content;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
}

.painelDireito {
    width: 80%;
}

.ladoTexto img {
    cursor: pointer;
    margin-right: 1vw;
}

.balao-pagamentos {
    cursor: pointer;
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    align-items: stretch;
}

.balao-pagamentos label {
    cursor: pointer;
}

.balao-pagamentos img {
    width: 2rem;
}

.balao-pagamentos .dir {
    width: 60%;
    gap: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #d2d2d2;
}

.balao-pagamentos .esq {
    width: 40%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    flex: 1;
    background: #b7b7b7;
}

@media screen and (orientation: portrait) {

    .detalhes-pagamento {
        width: 90%;
    }

    .painelEsquerdo,
    .painelDireito {
        width: 100%;
    }

    .divPagamentos {
        flex-direction: column;
    }
}   