.opcoes {
    background-color: #097fe6;
    padding: 5px;
    border-radius: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}

.balao2025 {
    font-size: 0.7rem;
    padding-right: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

#dataPagamento {
    border-radius: 3px;
    padding: 3px;
}

.numero {
    color: white;
    font-size: 1.2vw;
    flex: 0 0 10%;
}

.camposFinanceiro {
    padding-left: 1vw;
    width: 100%;
    justify-content: space-between;
    gap: 1vw;
    display: flex;
    align-items: center;
    flex: 0 0 90%;
    font-size: 0.7rem;
}

.camposFinanceiro label {
    text-align: left;
    margin: 5px;
    border: none;
}

.camposFinanceiro textarea,
.camposFinanceiro input,
.camposFinanceiro select {
    margin: 3px;
    background-color: #e0e0e0;
    font-size: 0.7rem;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.detalhesPagamento {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: -webkit-fill-available;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.vitrificado {
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    text-align: left;
    background-color: #ffffffde;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.balao {
    padding: 5px;
    display: flex;
    color: wheat;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

.balao textarea {
    border-radius: 1px;
}

.contagem {
    cursor: pointer;
    text-align: center;
    width: 3vw;
    border-radius: 3px;
    padding: 5px;
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contorno {
    position: relative;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.selectStatus {
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

.btnDetalhes {
    min-height: 3vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2vw;
    background-color: #eeeeee;
    cursor: pointer;
    padding: 10px;
}

.btnDetalhes:hover {
    background-color: #222;
    color: white;
}

.btnDetalhes img {
    margin-left: 2vw;
    width: 2vw;
    cursor: pointer;
}

.divTabela {
    width: 100%;
    height: max-content;
    max-height: 60vh;
    overflow-y: auto;
}

.painelDireito {
    width: 70%;
}

.painelEsquerdo {
    gap: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    height: 70vh;
    overflow-y: auto;
    margin: 1vw;
}

.painelEsquerdo::-webkit-scrollbar {
    display: none;
}

.painelEsquerdo label {
    cursor: pointer;
}

.ambosLadosEtiqueta {
    cursor: pointer;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ladoQuantidade {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    height: 3vw;
    width: 3vw;
    border-radius: 1px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #b7b7b7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ladoTexto {
    cursor: pointer;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 2vw;
    text-align: right;
}

.ladoTexto img {
    cursor: pointer;
    margin-right: 1vw;
}