.janela {
    max-width: 90vw;
    overflow: auto;
    max-height: 90vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.janela-fora {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 90vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-top {
    display: flex;
    align-items: center;
    background-color: #3b444c;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.popup-top label {
    flex: 1;
    color: white;
    font-size: 1rem;
    text-align: left;
}

.popup-top span {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b12425;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.popup-top span:hover {
    background-color: #ff2a2a;
}

.div-mensagem {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
    font-size: 1rem;
    color: white;
}

.ferramentas {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
    background-color: #d2d2d2;
    gap: 5px;
}

.ferramentas input {
    background-color: #f0efef;
    display: block;
    padding: 1vw;
    margin: 1vw 0;
    border-radius: 5px;
    border: 1px solid #888;
}

.atalhos {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    gap: 10px;
    background-color: white;
    font-size: 0.8rem;
}

.atalhos label {
    padding-right: 0.5rem;
}

.atalhos img,
.atalhos-opcoes img {
    padding: 0.2rem;
    width: 2rem;
}

.atalhos:hover,
.atalhos-opcoes:hover {
    color: white;
    background-color: #323940;
}

.atalhos-opcoes {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    gap: 10px;
    background-color: #efefef;
    padding: 3px;
    border-radius: 2px;
    font-size: 0.8rem;
}

.cx-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}

.cx-opcoes {
    justify-content: start;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #d2d2d2;
    width: 100%;
    max-height: 40vh;
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
}