.janela {
    min-width: fit-content;
    max-width: 90vw;
    overflow: auto;
    max-height: 90vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.janela-fora {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 90vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-top {
    display: flex;
    align-items: center;
    background-color: #3b444c;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.popup-top label {
    flex: 1;
    color: white;
    font-size: 1rem;
    text-align: left;
}

.popup-top span {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b12425;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.popup-top span:hover {
    background-color: #ff2a2a;
}