.linha-orcamento-tabela[data-prioridade="0"] {
    --alerta-cor: rgba(255, 0, 0, 0.35);
}

.linha-orcamento-tabela[data-prioridade="1"] {
    --alerta-cor: rgba(255, 165, 0, 0.35);
}

.linha-orcamento-tabela[data-prioridade="2"] {
    --alerta-cor: rgba(0, 128, 255, 0.35);
}

.linha-orcamento-tabela::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--alerta-cor, transparent);
    opacity: 0;
    pointer-events: none;
    z-index: 0;

    animation: alerta 3s ease-in-out infinite;
}

@keyframes alerta {
    /* parado (5s) */
    0%   { opacity: 0 }
    80%  { opacity: 0 }

    /* piscada */
    85%  { opacity: 1 }
    90%  { opacity: .2 }
    95%  { opacity: 1 }

    /* volta a parar */
    100% { opacity: 0 }
}
