.esquema-cidades {
    width: 30%;
    border-radius: 5px;
    padding: 5px;
    background-color: #e9e9e9;
}

.tabela-documentos {
    width: 70%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.tela-rh {
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 95vw;
    gap: 1rem;
}

.painelLateral {
    background-color: #222222dd;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    gap: 1vh;
    padding-top: 2vh;
    height: 100vh;
    display: flex;
    padding: 1vw;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}

.painelLateral label {
    color: white;
}

.btnPessoas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
}

.btnPessoas img {
    cursor: pointer;
    width: 2rem;
}

.btnPessoas:hover {
    background-color: rgb(193, 193, 193);
}

.blocoRH {
    gap: 2px;
    border: solid 1px #9c7800;
    width: 100%;
    height: max-content;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #d8b645;
    cursor: pointer;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.painel-pessoa {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 1rem;
}

.aba {
    cursor: pointer;
    padding: 3px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #c79800;
    width: 80%;
    border-top-right-radius: 5px;
}

.aba select {
    cursor: pointer;
    font-size: 1.0vw;
    text-align: right;
    background-color: transparent;
    width: 100%;
}

.pasta {
    margin: 1vw;
    align-items: end;
    justify-content: start;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.menuSuperior {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 1vh;
}

.menuSuperior div {
    cursor: pointer;
    padding: 3px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 1vw;
}

.menuSuperior div:hover {
    background-color: white;
    color: #222;
}

.menuSuperior img {
    width: 2vw;
}

.capsula {
    display: inline-flex;
    align-items: stretch;
    border-radius: 15px;
    overflow: hidden;
    max-width: 100%;
}

.esquerda {
    padding: 5px 1vw;
    background-color: #d2d2d2;
    white-space: nowrap;
}

.direita {
    cursor: pointer;
    min-width: 3vw;
    padding: 5px 0.8vw;
    background-color: #222222dd;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation: portrait) {

    .tabela-documentos, .esquema-cidades {
        width: 97%;
    }

    .tela-rh {
        flex-direction: column;
    }
}