.requisicao-contorno {
    overflow: hidden;
    border-radius: 5px;
    width: stretch;
    border: 1px solid;
    margin: 5px;
}

.foto-status {
    border-radius: 3px;
    width: 5rem;
}

.bloco-st {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: 5px;
}

.bloco-status-interno {
    position: relative;
    max-width: 200px;
    width: stretch;
    flex-direction: column;
    gap: 1px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 5px;
}

.chamado-aberto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 0 0 2px #222;
    padding: 5px 1rem 5px 5px;
    background-color: white;
    border-radius: 20px;
}

.cartao-status {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.requisicao-cabecalho {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.requisicao-cabecalho span {
    text-align: center;
    width: 90%;
    margin-right: 5rem;
    font-size: 1.2rem;
}

.requisicao-cabecalho img {
    margin-left: 5rem;
    width: 7rem;
}

.requisicao-titulo {
    background: linear-gradient(254deg, #4e4e4e, #868686);
    font-size: 1.1rem;
    color: white;
    padding: 0 1rem;
}

.campo-requisicao {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.requisicao-dados {
    text-align: start;
    border-radius: 0 0 3px 3px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #dedede;
    padding: 10px;
}

.requisicao-dados select,
.requisicao-dados input {
    border: solid 1px #8e8e8e;
    padding: 3px 1rem;
    border-radius: 20px;
}

.requisicao-tela {
    text-align: start;
    border-radius: 0 0 3px 3px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding: 10px;
}

.barra-status {
    box-shadow: 0 0 5px #7b7b7b;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.status-check-ocorrencias {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.status-check-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.status-botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.status-correcoes {
    background: white;
    padding: 1rem;
    min-width: 500px;
}

@media screen and (orientation: portrait) {
    .status-correcoes {
        min-width: 90vw;
    }
}