#dados_veiculos {
    width: 100%;
}

.contorno-destaque {
    background-color: #ffffffc4;
    width: 100%;
    border: solid 1px #797979;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.total-tabela {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #097fe6;
    color: white;
    padding: 5px;
    margin: 0.5rem;
}

.total-tabela label {
    font-size: 1rem;
}

.total-tabela span {
    font-size: 1.5rem;
}

.diVeiculos {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    background-color: #ffffffba;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 2px;
    gap: 10px;
}

.realizado {
    text-align: center;
    width: 7em;
    border-radius: 3px;
    border: solid 1px #797979;
    padding: 5px;
    background-color: #e7e7e7;
}

.datas-cab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.diVeiculos label {
    font-size: 0.7rem;
    cursor: pointer;
}

.diVeiculos:hover {
    color: white;
    background-color: #097fe6;
}

.fundoPainelLateral {
    transition: height 0.3s ease;
    overflow: hidden;
    width: 100%;
    background-color: #b1b1b1;
    max-height: 70vh;
    overflow-y: auto;
}

.tela-veiculos {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    width: 90vw;
}

.botoes {
    cursor: pointer;
    text-align: center;
    margin: 2px;
    color: white;
    background-color: #222;
    padding: 5px;
    border-radius: 3px;
}

.botoes label {
    white-space: nowrap;
    font-size: 1.0vw;
    cursor: pointer;
}

.campos-form-custos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.paineis {
    min-width: 20vw;
    background-color: #d2d2d2;
    padding: 2rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.paineis input,
.paineis select {
    text-align: center;
}

.paineis input,
.paineis select,
.paineis textarea {
    width: 90%;
    border-radius: 3px;
    padding: 0.5rem 0 0.5rem 0;
    border: solid 1px #c3c3c3;
}

#tabelaRegistro {
    width: 100%;
    display: flex;
}