.fundo {
  width: 90vw;
  display: flex;
  align-items: start;
  justify-content: left;
  background-color: #2f4f6f;
  padding: 1vw;
  margin: 1vw;
  gap: 1vw;
}

#etiqueta {
  background-color: white; 
  padding: 5px; 
  border-radius: 5px; 
  position: absolute;
  box-shadow: 1px 1px #222;
}

select {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
}

.select_regiao {
  background-color: #2f4f6f;
  color: white;
}

.fundo_tabela {
  height: max-content;
  max-height: 70vh;
  overflow: auto;
}

th {
  color: #222;
}

.top {
  position: relative;
  display: flex;
  width: 95%;
  margin: 40px 0 20px 0;
  align-items: center;
  justify-content: space-between;
  background-color: #222222bf;
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
}