.fundo {
  width: 90vw;
  display: flex;
  align-items: start;
  justify-content: left;
  background-color: #2f4f6f;
  padding: 1vw;
  margin: 1vw;
  gap: 1vw;
}

button, textarea {
  font-size: 0.9vw;
}

.opcoesPainel {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2vw;
}

.opcoesPainel label {
  cursor: pointer;
  padding: 1vw;
  border-radius: 3px;
  color: white;
  background-color: #B12425;
}

.opcoesPainel label:hover {
  cursor: pointer;
  background-color: #222;
  transition: 0.2s ease-in-out;
}

body {
  user-select: none;
}

input {
  font-size: 0.8vw;
}

.selected {
  background-color: #cce5ff;
}

#etiqueta {
  font-size: 0.8vw;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
}

td:first-child {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selecionado {
  background-color: rgba(0, 123, 255);
  border: 1px solid blue;
}

.com-triangulo {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 1vw solid #222;
  border-left: 1vw solid transparent;
}

.com-triangulo:hover {
  transition: 0.1s ease-in-out;
  border-top: 1vw solid #B12425;
}

.marcador {
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 2px;
}

select,
.campos {
  cursor: pointer;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8vw;
}

.campos {
  width: 95%;
}

.select_regiao {
  background-color: #2f4f6f;
  color: white;
}

.fundo_tabela {
  resize: both;
  height: max-content;
  max-height: 90vh;
  overflow: auto;
}

th {
  color: #222;
}

.top {
  position: relative;
  display: flex;
  width: 95%;
  margin: 40px 0 20px 0;
  align-items: center;
  justify-content: space-between;
  background-color: #222222bf;
  padding: 10px;
  border-radius: 5px;
  gap: 20px;
}

.painelPagamentos {
  border: solid 1px #797979;
  border-radius: 3px;
  background-color: #797979;
  max-height: 50vh;
  overflow: auto;
  gap: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.blocoPagamentoPai {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
}

.blocoPagamentoPai:hover {
  transition: ease-in-out 0.2s;
  background-color: #89b4da;
}

.blocoPagamento {
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-bottom: 3px;
  padding-top: 3px;
  cursor: pointer;
}

.blocoPagamento div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.blocoPagamento label {
  cursor: pointer;
  padding: 3px;
  margin-left: 3px;
}