.central {
    margin-left: 15vw;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
}

.totalBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    color: white;
    padding: 0.5vw;
    text-align: center;
    border-radius: 8px;
}

body {
    overflow: hidden;
}

input,
select,
textarea {
    font-size: 1.0vw;
}

.blocoFiltro {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.blocoFiltro div label{
    font-size: 0.7vw;
    border-radius: 2px;
    background-color: #383838;
    color: white;
    padding: 3px;
}

.blocoFiltro div {
    gap: 1px;
    border: 1px solid #c3c3c3;
    width: max-content;
    max-width: 15vw;
    background-color: #d1d1d1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: 20vh;
    height: max-content;
}

.atalhosRelatorio {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    gap: 5px;
}

.blocoMaior {
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #222;
}

.divsListagem {
    font-size: 1.0vw;
    border-bottom: 1px solid #222;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #e6e6e6;
}

.blocosIrmaos {
    position: relative;
    background-color: transparent;
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
}

.campos {
    font-size: 0.8vw;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    max-width: 20vw;
    background-color: #b5b5b5;
    border-radius: 5px;
}

.campos:hover {
    background-color: #00563f;
    color: white;
}

.tabelaChamado {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 8px;
}

.tituloDashboard {
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 1vw;
    color: white;
    background-color: #00563f;
    font-size: 2.0vw;
}

.tabelaChamado td {
    font-size: 1.0vw;
    padding: 3px;
    text-align: center;
}

.rodapeTabela {
    width: 100%;
    height: 2vh;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #b1b1b1;
}

.painelLateral {
    background-color: white;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 7vw;
    gap: 1vh;
    padding-top: 2vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}

.btnLateral {
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btnLateral:hover {
    background-color: #e2e2e2;
}

.btnLateral label {
    cursor: pointer;
    font-size: 0.7vw;
}

.painelCascata {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: max-content;
    margin-left: 7vw;
    height: 100vh;
    padding: 10vh 2vh 2vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 1vh;

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9;
    transform: translateX(0%);
}

.painelCascata label {
    font-size: 1.0vw;
    cursor: pointer;
}

.painelCentral {
    border-radius: 2px;
    background-color: #00000038;
    margin-top: 1vw;
    padding: 2vw;
    width: 85vw;
    display: flex;
    justify-content: start;
    align-items: start;
}