.central {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
}

.negativo {
    background-color: #b12425;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

body {
    overflow: hidden;
}

.totalBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    color: white;
    padding: 0.5vw;
    text-align: center;
    border-radius: 8px;
}

#empresaAtiva {
    color: white;
    font-size: 2vw;
}

input,
select,
textarea {
    font-size: 1.0vw;
}

.blocoFiltro {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.blocoFiltro div label {
    font-size: 0.7vw;
    border-radius: 2px;
    background-color: #383838;
    color: white;
    padding: 3px;
}

.blocoFiltro div {
    gap: 1px;
    border: 1px solid #c3c3c3;
    width: max-content;
    max-width: 15vw;
    background-color: #d1d1d1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow-y: visible;
    overflow-x: hidden;
    max-height: 20vh;
    height: max-content;
}

.atalhosRelatorio {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    gap: 5px;
}

.blocoMaior {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #222;
}

.divsListagem {
    width: 100%;
    font-size: 1.0vw;
    border-bottom: 1px solid #222;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: #e6e6e6;
}

.blocosIrmaos {
    position: relative;
    background-color: transparent;
    width: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
}

.fechar {
    cursor: pointer;
    color: #444444;
    float: right;
    font-size: 2vw;
    font-weight: bold;
}

.fechar:hover {
    color: red;
}

.balaoOcorrencias {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.balaoSolicitante {
    font-size: 0.6vw;
    cursor: pointer;
    padding: 5px;
    background-color: #222;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.balaoExecutor {
    font-size: 0.6vw;
    cursor: pointer;
    padding: 5px;
    background-color: #222222c8;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.campos {
    font-size: 0.8vw;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    max-width: 20vw;
    background-color: #b5b5b5;
    border-radius: 5px;
}

.fundoTec {
    border: 1px solid #797979;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: #e7e7e7;
    border-radius: 3px;
    width: 50%;
    height: max-content;
    max-height: 40vh;
    overflow-y: auto;
    margin: 1vw;
    padding-left: 1vw;
}

.campos:hover {
    background-color: #00563f;
    color: white;
}

.tabela1 {
    width: 100%;
    border-collapse: collapse;
}

.tabela1 td {
    border: solid 1px #222;
    width: 50%;
    text-align: center;
}

.tabelaChamado {
    height: 100%;
    background-color: white;
    padding: 8px;
}

.tituloDashboard {
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 1vw;
    color: white;
    background-color: #00563f;
    font-size: 2.0vw;
}

.tabelaChamado td {
    font-size: 1.0vw;
    padding: 3px;
    text-align: center;
}

.rodapeTabela {
    border-top: 1px solid;
    width: 100%;
    height: 2vh;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #b1b1b1;
}

.painelLateral {
    background-color: white;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    gap: 1vh;
    padding-top: 2vh;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}

.menu {
    cursor: pointer;
    background-color: #222222c8;
    padding: 5px;
    border-radius: 10px;
    font-size: 2vw;
    color: white;
    position: fixed;
    top: 1vw;
    left: 1vw;
}

.btnLateral {
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.btnLateral:hover {
    background-color: #e2e2e2;
}

.btnLateral label {
    cursor: pointer;
    font-size: 0.7vw;
}

.painelCentral {
    border-radius: 2px;
    background-color: #00000038;
    margin-top: 1vw;
    padding: 2vw;
    width: 85vw;
    display: flex;
    justify-content: start;
    align-items: start;
}