textarea {
    font-size: 0.8vw;
    color: #222;
    width: 80%;
}

body {
    overflow: hidden;
}

.formato_status {
    cursor: pointer;
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.quantidade_requisicao {
    cursor: pointer;
    height: 20px;
    background-color: #c8fcc4;
    border-radius: 5px;
    color: #151749;
    font-weight: bold;
    box-shadow: 1px 1px #151749;
    text-align: center;
}

#orcamentos {
    max-height: 55vh;
    height: max-content;
    width: 90vw;
    overflow-y: auto;
}

.label_etiquetas {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    word-wrap: break-word;
}

.numero-bonito {
    cursor: pointer;
    text-align: center;
    height: 30px;
    width: 300px;
    background-color: #4CAF507c;
    border-radius: 3px;
    margin: 5px;
}

#toolbar {
    margin-left: 8vw;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap-reverse;
}

#toolbar label {
    cursor: pointer;
}

.num {
    font-size: 1.0vw;
    background-color: #d2d2d2;
    padding: 5px;
    border-radius: 3px;
}