.conteudo {
    width: 90vw;
    overflow: auto;
}

.vitrificado {
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

th {
    border-radius: 0px;
}

.balao {
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    margin: 2vw;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contagem {
    cursor: pointer;
    text-align: center;
    width: 50px;
    border-radius: 3px;
    padding: 5px;
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contorno {
    position: relative;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#teste{

    display: flex;
    min-height: 100vh;

}