body {
    overflow: hidden;
}

input {
    font-size: 0.9vw;
    border-radius: 3px;
    padding: 5px;
}

.painelCentral {
    background-image: url('imagens/BG.png');
    background-size: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-color: #00000038;
    margin-top: 2vw;
    margin-left: 20vw;
    width: 70vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.tituloRH {
    color: white;
    font-size: 1.5vw;
    margin-left: 20vw;
}

.painelLateral {
    background-color: #222222dd;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    gap: 1vh;
    padding-top: 2vh;
    height: 100vh;
    display: flex;
    padding: 1vw;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}

.painelLateral label {
    color: white;
}

.divPessoas {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 2px
}

.btnPessoas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.btnPessoas img {
    cursor: pointer;
    width: 2vw;
}

.btnPessoas:hover {
    background-color: white;
    color: #222;
}

.blocoRH {
    gap: 2px;
    border: solid 1px #9c7800;
    width: 100%;
    height: max-content;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #d8b645;
    cursor: pointer;
    padding-right: 5px;
}

.aba {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
    height: 3vh;
    background-color: #c79800;
    width: 3vw;
}

.pasta {
    align-items: end;
    justify-content: start;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.pasta:hover {
    transform: scale(1.10);
}