input {
    font-size: 0.9vw;
    border-radius: 3px;
    padding: 5px;
}

body {
    overflow: hidden;
}

.painelCentral {
    background-image: url('imagens/BG.png');
    background-size: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-color: #00000038;
    margin-top: 2vw;
    margin-left: 20vw;
    min-width: 70vw;
    min-height: 70vh;
    max-height: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.tituloRH {
    color: white;
    font-size: 1.5vw;
    margin-left: 20vw;
}

.painelLateral {
    background-color: #222222dd;
    box-shadow: 0px 0px 10px #222222dd;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    gap: 1vh;
    padding-top: 2vh;
    height: 100vh;
    display: flex;
    padding: 1vw;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    z-index: 10;
}

.painelLateral label {
    color: white;
}

.divPessoas {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 2px
}

.btnPessoas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.btnPessoas img {
    cursor: pointer;
    width: 2vw;
}

.btnPessoas:hover {
    background-color: white;
    color: #222;
}

.blocoRH {
    gap: 2px;
    border: solid 1px #9c7800;
    width: 100%;
    height: max-content;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #d8b645;
    cursor: pointer;
    padding-right: 5px;
}

.aba {
    cursor: pointer;
    padding: 3px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #c79800;
    width: 80%;
}

.aba select {
    cursor: pointer;
    font-size: 1.0vw;
    text-align: right;
    background-color: transparent;
    width: 100%;
}

.pasta {
    margin: 1vw;
    align-items: end;
    justify-content: start;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.menuSuperior {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 1vh;
}

.menuSuperior div {
    cursor: pointer;
    padding: 3px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 1vw;
}

.menuSuperior div:hover {
    background-color: white;
    color: #222;
}

.menuSuperior img {
    width: 2vw;
}

.capsula {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capsula select {
    font-size: 0.8vw;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

.esquerda {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #d2d2d2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.direita {
    cursor: pointer;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #222222dd;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}