.titulo {
    text-align: center;
    font-weight: bold;
    width: 60vw;
    margin: 20px;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    font-size: 2vw;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #082220 30%, transparent 30%);
}

.blocos {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}