.bloco-localizacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #84ff77;
    gap: 0.5rem;
}

.bloco-localizacao label {
    padding: 0.5rem;
    width: 30%;
}

.bloco-localizacao div {
    width: 70%;
}

.balao-totais {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.balao-totais span {
    font-size: 1.5rem;
}

.detalhes-correcao {
    width: 80vw;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #d2d2d2;
    padding: 0.5rem;
}

.pagina-relatorio {
    width: 95vw;
    background-color: #ebebeb;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.logo {
    width: 12rem;
    background-color: #151749;
    border-radius: 3px;
}

.na {
    text-align: center;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px red;
    border-radius: 5px;
    background-color: #f7c5c5;
}

.fin {
    text-align: center;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px green;
    border-radius: 5px;
    background-color: #ade9ad;
}

.and {
    text-align: center;
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid 1px #ff9100;
    border-radius: 5px;
    background-color: #ffeacf;
}

.toolbar-relatorio {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.toolbar-itens {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (orientation: landscape),
screen and (min-aspect-ratio: 13/9) {

    .balao-totais {
        width: max-content;
    }

    .toolbar-relatorio,
    .toolbar-itens {
        flex-direction: row;
    }

}