<?xml version='1.0' encoding='utf-8'?>
<widget id="app.gcs.br" version="1.0.14" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GCS</name>
    <description>Aplicativo do Grupo Costa Silva</description>
    <author email="fellipe@leonny.dev.br">Grupo Costa Silva</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidXWebView" value="true" />
    <allow-intent href="*" />
    <access origin="*" />
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <platform name="android">
        <icon src="resources/android/icon.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
        <preference name="SplashScreenBackgroundColor" value="#FFFFFF" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="0" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
        </config-file>
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
</widget>
