table {
    width: 100%;
    vertical-align: middle;
    margin: 0 auto;
}

thead {
    z-index: 0;
}

textarea {
    color: #222;
}

h1 {
    margin-right: 50px;
}

.formato_status {
    cursor: pointer;
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

input {
    text-align: center;
}

.quantidade_requisicao {
    cursor: pointer;
    height: 20px;
    background-color: #c8fcc4;
    border-radius: 5px;
    color: #151749;
    font-weight: bold;
    box-shadow: 1px 1px #151749;
    text-align: center;
}

th {
    background-color: transparent;
}

#orcamentos {
    padding: 10px;
    border-radius: 5px;
    height: 70vh;
    min-width: 60vw;
    max-height: 70vh;
    overflow: auto;
}

.label_etiquetas {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    word-wrap: break-word;
}